form {
  [type='submit'],
  [type='text'],
  [type='email'],
  [type='password'],
  [type='button'],
  [type='checkbox'],
  [type='color'],
  [type='date'],
  [type='datetime-local'],
  [type='file'],
  [type='image'],
  [type='month'],
  [type='number'],
  [type='radio'],
  [type='range'],
  [type='reset'],
  [type='search'],
  [type='tel'],
  [type='text'],
  [type='time'],
  [type='week'] {
    height: rem(50px);
  }

  .form-group {
    margin-bottom: rem(16px);
  }

  .invalid-feedback {
    display: block;
  }
}
