<form
  class="row g-3"
  action="/search"
  method="post"
  enctype="multipart/form-data"
>
  <div class="col-md-10">
      <input class="form-control form-control-lg" type="file">
  </div>

  <div class="col-md-2">
    <button type="submit" class="btn btn-primary mb-3">Upload</button>
  </div>
</form>
