<%= unless @keyword.status == "completed" do %>
  <div class="keyword-detail">
    <h2 class="keyword-detail__title">
      Search result report for : <%= @keyword.name %>
    </h2>

    <div class="keyword-detail__body">
      <%= render "_counting_result_reports.html", assigns %>
      <%= render "_url_result_report.html", assigns %>
    </div>
  </div>
<% else %>
  <h4 class="text-center">No search reasult for: <%= @keyword.name %></h4>
<% end %>
