<header class="app-header">
  <%= if @current_user do %>
    <%# TODO: will take care in the login front end PR %>
  <% else %>
    <%= render ElixirGoogleScraperWeb.SharedView, "_guest_user_navbar.html",  conn: @conn  %>
  <% end %>
</header>
