<header class="app-header">
  <%= if @current_user do %>
    <%# TODO: will refactor/change it in the login front end PR %>
    <%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %>
    <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %>
  <% else %>
    <%= render ElixirGoogleScraperWeb.SharedView, "_guest_user_navbar.html",  conn: @conn  %>
  <% end %>
</header>
