.app-header {
  nav {
    padding: rem(10px);
  }

  .nav-item:not(:last-child)::after {
    @include media-breakpoint-up(lg) {
      content: '|';
      color: lightcoral;
    }
  }

  .navbar-text,
  .nav-link {
    display: inline-block;
    padding-left: rem(8px);
    padding-right: rem(8px);
  }

  .navbar-text {
    color: burlywood;
  }
}
