.app-header {
  nav {
    padding: rem(10px);
  }

  .setting-nav-link,
  .navbar-text {
    &::after {
      @include media-breakpoint-up(lg) {
        content: '|';
        padding-left: rem(8px);
        color: lightcoral;
      }
    }
  }

  .navbar-text {
    display: inline-block;
    color: burlywood;
  }
}
