.form-upload {
  input[type='file']::-webkit-file-upload-button {
    color: white;
    display: inline-block;
    background: #1cb6e0;
    border: none;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
  }
}
