<div class="user-auth">
  <div class="user-auth__header">
    <h3 class="user-auth__title">Create your account</h3>
  </div>

  <div class="user-auth__body">
    <%= render "_form.html", assigns %>
  </div>

  <div class="user-auth__footer">
    Already have an account?
    <%= link "Login to your account", to: Routes.user_session_path(@conn, :new) %>
  </div>
</div>
